.writeBar {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.writeBar > div {
    margin-left: 10px;
}

.summernote {
    margin-top: 15px;
    margin-bottom: 15px;
}

.writeBtns {
    margin-top: 20px;
    text-align: right;
}

.writeBtns > button {
    width: 100px;
    height: 33px;
    font-size: small;
    font-weight: 600;
}

.btns {
    display: flex;
}

.btns button {
    width: 100px;
    height: 33px;
    font-size: small;
    font-weight: 600;
}

.listBtn {
    width: 50%;
}

.otherBtns {
    width: 50%;
    display: flex;
    justify-content: end;
}

.otherBtns > button {
    margin-left: 10px;
}